client/node_modules
client/static

server/static/
server/.gitignore
server/.dockerignore
server/.DS_Store
server/*.pyc
server/venv/
server/requirements-dev.txt
server/dev-env
server/db.sqlite3
server/**/*.pyc
server/**/*.pyo
server/**/*.pyd
server/**/__pycache__/
server/.env
server/.venv/
server/.mypy_cache/
server/.pytest_cache/
server/coverage/
server/eggs/
server/.pytest/
server/.tox/
server/.egg-info/
server/*.log
server/.local/
server/media/
server/**/migrations/
docker/server/ngnix
docker/server/Dockerfile
